/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    transition-duration: 300ms;
    scroll-behavior: smooth;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fadein {
    @apply opacity-0 duration-[1s] ease-in transition-opacity motion-reduce:transition-none
}

.appear {
    @apply opacity-100
}

@layer components {
    .regular-link:hover {
        @apply transition duration-300 bg-clip-text text-transparent bg-gradient-to-r from-sky-200 to-fuchsia-300;
    }
}